.container {
     width: 560px;
     margin: 0 auto
 }

.jumbotron {
    width: 560px;
    padding: 10px 60px;
    font-size: 17px;
    font-weight: 200;
    line-height: 1.5;
    min-height: 23px;
    color: #ececec;
    background-color: #223223;
    border-radius: 13px;
    font-family: "Helvetica Neue Ultra Light", "Helvetica Neue", "Arial Narrow", Arial sans-serif
}

.jumbotron2 {
    width: 560px;
    padding: 10px 60px;
    font-size: 17px;
    font-weight: 200;
    line-height: 1.5;
    min-height: 23px;
    color: #ececec;
    background-color: #50afff;
    border-radius: 13px;
    font-family: "Helvetica Neue Ultra Light", "Helvetica Neue", "Arial Narrow", Arial sans-serif
}

.red{
    background-color: red;
}

h1 {
    line-height: 1
}

p {
    line-height: 1.4
}

button {
    background: #eee;
    padding: 10px 20px
}

body{
    background: url("/coke-versus-pepsi.jpg") center center no-repeat fixed;

}

.hide-text {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.video{
    height: 400px;
    width: 400px;
}